<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834040560896-k5ju336co25mol6vf2dek055ang1qpfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834040560896-k5ju336co25mol6vf2dek055ang1qpfr</string>
	<key>API_KEY</key>
	<string>AIzaSyBKQ9XLH7rrU8-ZavxVcirj0aoT5nvtORw</string>
	<key>GCM_SENDER_ID</key>
	<string>834040560896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wfti.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>wfti-test</string>
	<key>STORAGE_BUCKET</key>
	<string>wfti-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834040560896:ios:7a41a86c4ae3facfd907e5</string>
</dict>
</plist>